html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to top, #092d64, #0062a0, #0097a9, #00c778, #a8eb12);
  background-repeat: no-repeat;
}

.container {
  margin: 100px auto;
  padding: 50px;
  max-width: 540px;
  height: 540px;
  border: 1px solid black;
  background: rgb(210, 225, 235);
}


.players {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.dice {
  background: #ffd3b6;
  font-size: 80px;
  border-radius: 10px;
  margin: 20px auto;
}

button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #00c778;
}

#resetBtn {
  display: none;
  background: #dc320d;
}